*,
*::after,
*::before {
	box-sizing: border-box;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

body {
	font-family: 'Inconsolata', 'Monaco', monospace;
	-webkit-font-smoothing: antialiased;
	overflow: visible;
	margin: 0;
	color: #a0a2ae;
	background: white;
}

.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	/* height: 100vh; */
	background-color: white;
}


.random p{
	font-size: 7vw;
}

.page{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100vh;
	text-align: center;
}

h1{
	font-size: 7vw;
}

/* Buttons */
.icon {
	display: block;
	width: 5em;
	height: 5em;
	margin: 0 auto;
	fill: currentColor;
}

.btn {
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background: none;
	text-decoration: none;
	color: #a0a2ae;
	outline: none;
}

.btn--search-close {
	font-size: 1.5vw;
	position: absolute;
	top: 1.25em;
	right: 1.25em;
	display: block;
}

.btn:focus {
	outline: none;
}

.btn--search {
	display: block;
	max-width: 16vw;
	font-size: 4vw;
}

.btn--hidden {
	pointer-events: none;
	opacity: 0;
}


/* Layout for search container */
.search {
	display: flex;
	height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.search__form{
	width: 100%;
	max-width: 900px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 5vw;
}

.search__input {
	font-family: inherit;
	font-size: 7vw;
	line-height: 1;
	width: 75%;
	max-width: 900px;
	color: #a0a2ae;
	border: 0;
	border-bottom: 4px solid;
	background: transparent;
	-webkit-appearance: none;
}

.search__info {
	font-size: 90%;
	font-weight: bold;
	display: block;
	width: 75%;
	margin: 0 auto;
	padding: 0.85em 0;
	text-align: right;
	color: #a0a2ae;
}

.search__input:focus {
	outline: none;
}

.search__input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #a0a2ae;
}

.search__input::-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 19+ */
	color: #a0a2ae;
}

.search__input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #a0a2ae;
}

.results{
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

.results h3{
	font-size: 40px;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

.entries{
	display: block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	max-width: 900px;
	padding: 0;
	font-size: 20px;
}

.entry{
	border: 3px solid #a0a2ae;
	padding: 8px;
	margin: 2vw;
}

.entry-title{
	font-weight: bold;
	display: block;
	padding-bottom: 10px;
}

.loader span{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #a0a2ae;
  margin: 0px 0px 30vh 0px;
  opacity: 0;
}

.loader span:nth-child(1){
  animation: opacitychange 1s ease-in-out infinite;
}

.loader span:nth-child(2){
  animation: opacitychange 1s ease-in-out 0.33s infinite;
}

.loader span:nth-child(3){
  animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange{
  0%, 100%{
    opacity: 0;
  }

  60%{
    opacity: 1;
  }
}